body {
  background: #ffffff;
  color: #757575;
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

h2 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
  min-width: 1200px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  margin-right: 93px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  color: #212121;
}

.logo__accent {
  color: #2196f3;
}

.btn {
  display: flex;
  align-items: center;
  padding: 10px 32px;
  margin: 0 auto;
  background: #2196f3;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.social-networks-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.social-networks-list__btn {
  display: block;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  padding: 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-list__btn:hover, .social-networks-list__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-networks-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  display: block;
  padding: 6px 22px;
  background: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  width: 528px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.close-btn:hover, .close-btn:focus {
  cursor: pointer;
  color: #2196f3;
}

.close-btn__icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.header-block {
  min-height: 80px;
}

.header-block__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-block {
  display: flex;
  justify-content: left;
  align-items: center;
}

.main-nav {
  display: flex;
  justify-content: left;
  align-items: center;
}

.main-nav__item:not(:first-child) {
  margin-left: 50px;
}

.main-nav__link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.adress-list {
  display: flex;
  justify-content: right;
  align-items: center;
}

.adress-list__item:not(:first-child) {
  margin-left: 50px;
}

.adress-list__link {
  display: flex;
  vertical-align: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.main-nav__link,
.adress-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__link:hover,
.main-nav__link:focus,
.main-nav__link--active,
.adress-list__link:hover,
.adress-list__link:focus {
  color: #2196f3;
}

.main-nav__link--active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
}

.adress-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-block {
  border-bottom: 1px solid #ececec;
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
}

.overlay {
  padding: 200px;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin: 0 auto 30px;
}

.features-list {
  display: flex;
}

.features-list .icon-wrapper {
  display: flex;
  justify-content: center;
  background-color: #f5f4fa;
  padding: 25px 0;
  margin-bottom: 30px;
}

.features-list__item:not(:last-child) {
  margin-right: 30px;
}

.features-list__icon {
  width: 70px;
  height: 70px;
}

.features-list__title {
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.services {
  padding-top: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-list__img {
  display: block;
  max-width: 100%;
}

.services-list__item {
  position: relative;
}

.services-list__item:not(:last-child) {
  margin-right: 30px;
}

.services-list__type {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  background: #f5f4fa;
}

.team-cards {
  display: flex;
}

.team-cards__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-cards__item:not(:last-child) {
  margin-right: 30px;
}

.team-cards__img {
  display: block;
  min-width: 100%;
}

.team-cards__content-wrapper {
  padding: 30px 32px;
  background: #ffffff;
}

.team-cards__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.team-cards__profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.companies-list {
  display: flex;
  justify-content: center;
}

.companies-list__item:not(:last-child) {
  margin-right: 30px;
}

.companies-list__link {
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companies-list__link:hover, .companies-list__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.companies-list__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.projects-card {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-card__link {
  display: block;
  color: #757575;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-card__link:hover, .projects-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-card__img {
  display: block;
  min-width: 100%;
}

.projects-card__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.projects-card__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-card__subheading {
  font-size: 16px;
  line-height: 1.875;
}

.projects-card__img-thumb {
  position: relative;
  overflow: hidden;
}

.projects-card__overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  padding: 24px;
  display: flex;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-card__link:hover .projects-card__overlay,
.projects-card__link:focus .projects-card__overlay {
  transform: translateY(-100%);
}

.projects-card__description {
  font-size: 18px;
  line-height: 1.556;
  color: #ffffff;
}

.user-data-form {
  padding: 40px;
}

.user-data-form__appeal {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form-label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
}

.form-field-wrapper {
  display: block;
  position: relative;
}

.form-label__text {
  margin-bottom: 4px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 42px;
  padding-right: 42px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.comment-area {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area:focus {
  outline: none;
  border-color: #2196f3;
}

.comment-area:placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
}

.form-input__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: currentColor;
  transform: translateY(-50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-input__icon {
  color: #2196f3;
}

.check-fild {
  margin-bottom: 20px;
}

.concent-check-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.concent-check__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.concent-check:checked + .concent-check__icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.label-link {
  color: #2196f3;
  text-decoration: underline;
}

.label-link:hover, .label-link:focus {
  text-decoration: none;
}

.button-holder {
  display: flex;
  justify-content: center;
}

.user-data-form__btn {
  padding: 10px 55px;
}

.footer {
  padding: 60px 0;
  color: #ffffff;
  background: #2f303a;
  min-width: 1200px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.adress-and-logo-wrapper {
  width: 231px;
  margin-right: 70px;
}

.social-networks-wrapper {
  margin-right: 93px;
  width: 206px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  color: #ffffff;
}

.address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  cursor: pointer;
  color: #2196f3;
}

.social-networks-list__btn--darkbg {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.social-networks-list__btn--darkbg:hover, .social-networks-list__btn--darkbg:focus {
  background: #2196f3;
}

.footer__appeal {
  font-weight: bold;
  line-height: 1.143;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-btn {
  padding: 10px 29px;
}

.subscribe-form {
  width: 570px;
}

.subscribe-form .form-field {
  display: flex;
}

.subscribe-form .email-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  font-size: 16px;
  line-height: 1.25;
  margin-right: 12px;
  color: #ffffff;
}

.subscribe-form .email-input:placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form .btn {
  display: flex;
}

.send-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */