body {
  background: #ffffff;
  color: #757575;
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  h2 {
    margin-bottom: 50px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

/*body.modal-open {
  overflow: hidden;
}*/
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.167;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.logo__accent {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.mobile-nav-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 10px;
}

.mobile-nav-button:hover, .mobile-nav-button:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .mobile-nav-button {
    display: none;
  }
}

.mobile-nav-icon {
  fill: currentColor;
}

.mobile-nav-button .icon-cross {
  display: none;
}

.mobile-nav-button.is-open .icon-cross {
  display: block;
}

.mobile-nav-button.is-open .icon-nav {
  display: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 32px;
  margin: 0 auto;
  background: #2196f3;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.social-networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.social-networks-list__btn {
  display: block;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  padding: 12px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-list__btn:hover, .social-networks-list__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-networks-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -8px;
  margin-top: -15px;
  margin-bottom: 40px;
  border: 1px solid transparent;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-right: 8px;
  margin-top: 15px;
}

.filter__btn {
  display: block;
  padding: 6px 22px;
  background: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  padding: 93px 15px 94px;
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 159px 207px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  width: 100%;
  position: relative;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 609px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.header-block {
  height: 60px;
  padding-top: 16px;
  /*min-height: 80px;*/
}

.header-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav {
  display: none;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999;
  padding: 48px 40px;
}

.mobile-nav.is-open {
  display: block;
}

.main-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mobile-menu {
  margin-bottom: 302px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-size: 40px;
  line-height: 1.175;
  color: #212121;
}

.mobile-menu__link:hover, .mobile-menu__link:focus, .mobile-menu__link__link--active {
  color: #2196f3;
}

.mobile-contacts-list {
  margin-bottom: 64px;
}

.mobile-contacts-list__tel {
  display: block;
  font-size: 34px;
  line-height: 1.176;
  color: #2196f3;
  margin-bottom: 32px;
}

.mobile-contacts-list__email {
  display: block;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1.17;
  color: #757575;
}

.mobile-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-social__link {
  display: block;
  font-size: 18px;
  line-height: 22px;
  color: #2196f3;
}

.mobile-social__item:not(:last-child) .mobile-social__link {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobile-social__item:not(:first-child) .mobile-social__link {
  padding-left: 10px;
}

/*
.main-nav__item {
  &:not(:first-child) {
    margin-left: 50px;
  }
}
.main-nav__link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $hedding-color;
  text-decoration: none;
}*/
.adress-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .adress-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*
.adress-list__item {
  &:not(:first-child) {
    margin-left: 50px;
  }
}
.adress-list__link {
  display: flex;
  vertical-align: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $main-text-color;
}
.main-nav__link,
.adress-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__link:hover,
.main-nav__link:focus,
.main-nav__link--active,
.adress-list__link:hover,
.adress-list__link:focus {
  color: $brand-color;
}
.main-nav__link--active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: $brand-color;
}
.adress-list__icon {
  fill: currentColor;
  margin-right: 10px;
}
*/
.header-block {
  border-bottom: 1px solid #ececec;
}

.hero {
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg-hero.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}

.overlay {
  padding: 118px 15px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .overlay {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    width: 1200px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.main-heading {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  margin: 0 auto 30px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .main-heading {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .main-heading {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.features-list .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f4fa;
  padding: 25px 0;
  margin-bottom: 30px;
}

.features-list__icon {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 767px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list__item {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    width: 270px;
  }
}

.features-list__title {
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .features-list__title {
    text-align: center;
  }
}

.services {
  display: none;
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .services {
    display: block;
  }
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-list__img {
  display: block;
  max-width: 100%;
}

.services-list__item {
  position: relative;
}

.services-list__item:not(:last-child) {
  margin-right: 30px;
}

.services-list__type {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team {
  background: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -15px;
  }
}

@media screen and (min-width: 768px) and (min-width: 480px) {
  .team-cards {
    margin: -15px;
  }
}

.team-cards__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 15px;
}

@media screen and (min-width: 480px) {
  .team-cards__item {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .team-cards__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-cards__item {
    width: 270px;
  }
}

.team-cards__img {
  display: block;
  min-width: 100%;
}

.team-cards__content-wrapper {
  padding: 30px 32px;
  background: #ffffff;
}

.team-cards__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.team-cards__profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.companies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.companies-list__item {
  margin: 15px;
}

.companies-list__link {
  color: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companies-list__link:hover, .companies-list__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.companies-list__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -30px;
  margin-bottom: -30px;
}

.projects-card {
  width: 100%;
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .projects-card {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-card {
    width: 370px;
  }
}

.projects-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: #757575;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-card__link:hover, .projects-card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-card__img {
  display: block;
  min-width: 100%;
}

.projects-card__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.projects-card__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-card__subheading {
  font-size: 16px;
  line-height: 1.875;
}

.projects-card__img-thumb {
  position: relative;
  overflow: hidden;
}

.projects-card__overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-card__link:hover .projects-card__overlay,
.projects-card__link:focus .projects-card__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.projects-card__description {
  font-size: 18px;
  line-height: 1.556;
  color: #ffffff;
}

.user-data-form {
  padding: 40px;
}

.user-data-form__appeal {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .user-data-form__appeal {
    line-height: 1.15;
  }
}

.form-label {
  color: #212121;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field-wrapper {
  display: block;
  position: relative;
}

.form-label__text {
  color: #757575;
  margin-bottom: 4px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 42px;
  padding-right: 42px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.comment-area {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area:focus {
  outline: none;
  border-color: #2196f3;
}

.comment-area:placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
}

.form-input__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: currentColor;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-input__icon {
  color: #2196f3;
}

.check-fild {
  margin-bottom: 20px;
}

.concent-check-label {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  display: block;
}

.concent-check__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.concent-check:checked + .concent-check__icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.label-link {
  color: #2196f3;
  text-decoration: underline;
}

.label-link:hover, .label-link:focus {
  text-decoration: none;
}

.button-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-data-form__btn {
  padding: 10px 55px;
}

.footer {
  padding: 60px 0;
  color: #ffffff;
  background: #2f303a;
  /*min-width: 1200px;*/
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__columns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__columns-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footer__columns-wrapper {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

.adress-and-logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .adress-and-logo-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .adress-and-logo-wrapper {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .adress-and-logo-wrapper {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .adress-and-logo-wrapper {
    width: 231px;
    margin-right: 70px;
  }
}

.social-networks-wrapper {
  width: 206px;
}

@media screen and (max-width: 767px) {
  .social-networks-wrapper {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .social-networks-wrapper {
    margin-right: 93px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  color: #ffffff;
}

.address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .address-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  cursor: pointer;
  color: #2196f3;
}

.social-networks-list__btn--darkbg {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.social-networks-list__btn--darkbg:hover, .social-networks-list__btn--darkbg:focus {
  background: #2196f3;
}

.footer__appeal {
  font-weight: bold;
  line-height: 1.143;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer__appeal {
    text-align: center;
  }
}

.footer__btn {
  padding: 10px 29px;
}

.subscribe-form {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    width: 570px;
  }
}

.subscribe-form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .subscribe-form .form-field {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe-form .email-input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .subscribe-form .email-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form .email-input {
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe-form .email-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form .email-input {
    margin-right: 12px;
  }
}

.subscribe-form .email-input:placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.send-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */