.companies-list {
  display: flex;
  justify-content: center;
}
.companies-list__item:not(:last-child) {
  margin-right: 30px;
}
.companies-list__link {
  color: $icon-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid $icon-color;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $brand-color;
    border-color: $brand-color;
  }
}

.companies-list__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
