.header-block {
  height: 60px;
  padding-top: 16px;
  /*min-height: 80px;*/
}
.header-block__container {
  display: flex;
  align-items: center;
}
.nav-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav {
  display: none;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $light-color;
  z-index: 999;
  padding: 48px 40px;
}
.mobile-nav.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-nav {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}
.mobile-menu {
  /*margin-bottom: 302px;*/
  font-weight: 500;
  letter-spacing: 0.02em;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__link {
  font-size: 8.333vmin;
  line-height: 1.175;
  color: $hedding-color;
  &:hover,
  &:focus,
  &__link--active {
    color: $brand-color;
  }
}
.contacts-and-social-wrapper {
}
.mobile-contacts-list {
  margin-bottom: 64px;
}
.mobile-contacts-list__tel {
  font-size: 7.083vmin;
  display: block;
  line-height: 1.176;
  color: $brand-color;
  margin-bottom: 32px;
  @media screen and (min-width: $mobile) {
    font-size: 34px;
  }
}
.mobile-contacts-list__email {
  display: block;
  font-size: 5vmin;
  line-height: 1.167;
  color: $main-text-color;
}
.mobile-social__list {
  display: flex;
  width: 100%;
}
.mobile-social__link {
  display: block;
  font-size: 3.75vmin;
  line-height: 1.22;
  color: $brand-color;
}
.mobile-social__item:not(:last-child) .mobile-social__link {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.mobile-social__item:not(:first-child) .mobile-social__link {
  padding-left: 10px;
}
/*
.main-nav__item {
  &:not(:first-child) {
    margin-left: 50px;
  }
}
.main-nav__link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $hedding-color;
  text-decoration: none;
}*/
.adress-list {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: right;
    align-items: center;
  }
} /*
.adress-list__item {
  &:not(:first-child) {
    margin-left: 50px;
  }
}
.adress-list__link {
  display: flex;
  vertical-align: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $main-text-color;
}
.main-nav__link,
.adress-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__link:hover,
.main-nav__link:focus,
.main-nav__link--active,
.adress-list__link:hover,
.adress-list__link:focus {
  color: $brand-color;
}
.main-nav__link--active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: $brand-color;
}
.adress-list__icon {
  fill: currentColor;
  margin-right: 10px;
}
*/
.header-block {
  border-bottom: 1px solid $border-color;
}
