.hero {
  background-color: $secondary-background;
  background-image: linear-gradient($overlay-color, $overlay-color),
    url("../images/bg-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
}
.overlay {
  padding: 200px;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.main-heading {
  @include font(900, 44px, 1.36);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $light-color;
  width: 696px;
  margin: 0 auto 30px;
}
