.hero {
  background-color: $secondary-background;
  background-image: linear-gradient($overlay-color, $overlay-color),
    url("../images/bg-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  @media screen and(min-width:$desktop) {
    height: 600px;
  }
}
.overlay {
  padding: 118px 15px;
  width: 100%;
  @media screen and(min-width:$mobile) {
    width: $mobile;
  }
  @media screen and(min-width:$tablet) {
    width: $tablet;
  }
  @media screen and(min-width:$desktop) {
    width: $desktop;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  margin-right: auto;
  margin-left: auto;
}
.main-heading {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $light-color;
  @include font(900, 26px, 1.615);
  margin: 0 auto 30px;
  width: 100%;
  @media screen and (min-width: $mobile) {
    width: 360px;
  }
  @media screen and (min-width: $desktop) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
