.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
   @include font(bold 24px 1.167);
   color: $hedding-color;
   @media screen and (min-width:$desctop){
  font-size: 26px;
  line-height: 1.192;   
  }
}
.logo__accent {
  color: $brand-color;
}
.header__logo{
  @media screen and (min-width:$tablet){
    margin-right: 88px;
  }
  @media screen and (min-width:$desctop){
  margin-right: 93px;
  }
}