.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: -30px;
}
.projects-card {
 width: calc(100%-6 * 30px) / 3;
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects-card__link {
  display: block;
  color: $main-text-color;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-card__img {
  display: block;
  min-width: 100%;
}
.projects-card__content {
  padding: 20px 24px;
  border: 1px solid $card-border-color;
}
.projects-card__title {
  margin-bottom: 4px;
  @include font(bold, 18px, 2);
  letter-spacing: 0.06em;
  color: $hedding-color;
}
.projects-card__subheading {
  font-size: 16px;
  line-height: 1.875;
}
.projects-card__img-thumb {
  position: relative;
  overflow: hidden;
}
.projects-card__overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 294px;
  background: $card-overlay-color;
  padding: 24px;
  display: flex;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-card__link:hover .projects-card__overlay,
.projects-card__link:focus .projects-card__overlay {
  transform: translateY(-100%);
}

.projects-card__description {
  font-size: 18px;
  line-height: 1.556;
  color: $light-color;
}
