.subscribe-form {
  width: 570px;
  .form-field {
    display: flex;
  }
}

.subscribe-form {
  .email-input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid $secondary-input-border-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: $secondary-background;
    font-size: 16px;
    line-height: 1.25;
    margin-right: 12px;
    color: $light-color;

    &:placeholder {
      color: $footer-link-color;
    }
  }
}
.subscribe-form .btn {
  display: flex;
}
.send-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
